/** index_css2样式*/
*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
}
ul,ol{
	list-style-type: none;
}
p,h1,h2,h3,h4,h5,h6{
	line-height: 38px;
}
h3{
	color: #ccc;
}
span{
	font-size: 15px;
}
.clearfix::before,
.clearfix::after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.box{
	min-width: 913px;
	background: #DEDEDE;
	margin: 0 auto;
}
.nav,.footer{
	height: 60px;
	background-color: #333333;
}
.nav h1{
	width: 120px;
	height: 60px;
	background: url(../img/baidulogo.png) no-repeat;
	background-size: 108px 44px;
	background-position: 3px 10px;
	text-indent: -9999px;
	margin-left: 25px;
	float: left;
}
.nav ul{
	height: 60px;
	float: right;
	list-style-type: disc;
}
.nav ul li{
	float: right;
	height: 60px;
	margin-right: 25px;
}
.nav ul li a{
	display: block;
	height: 60px;
	line-height: 60px;
	color: white;
	font-size: 14px;
	text-align: center;
}
.contain{
	position: relative;
}
.contain .article > section,.figure{
	margin: 20px 402px 20px 20px;
	padding: 20px;
	background-color: white;
	border: 1px solid #919191;
} 
.contain .aside{
	position: absolute;
	top: 0;
	right: 0;
	width: 322px;
	background-color: white;
	margin: 0 20px;
	padding: 20px;
	border: 1px solid #919191;
}
.figure figure{
	width: 170px;
	height: 140px;
	float: left;
	margin: 10px;
	padding: 10px;
	border: 1px solid #919191;
}
.figure figure figcaption{
	text-align: center;
}
.figure figure img{
	display: block;
	margin: 10px auto;
}
.footer p{
	text-align: center;
	line-height: 60px;
}

